{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 36.083788924871726,
        "longitude": 120.3651809692383,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "\u6211\u7684\u5bb6",
        "time_zone": "Asia/Shanghai",
        "external_url": null,
        "internal_url": null
    }
}